body {
	background: #CEE3F8;
	background:#008299 url(../img/blu_stripes.png) repeat top left;
	color: black;
}

.post {
    background: white;
    border: 2px dashed #D8D8D8;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    margin-bottom: 18px;
    margin-left: 6px;
    margin-right: 6px;
    /* box-shadow: 0px 0px 4px 0px black;
    -webkit-box-shadow: 0px 0px 4px 0px black; */
    -webkit-box-shadow: 0 0 0 3px white, 1px 0px 4px 4px rgba(10,10,0,.5);
    box-shadow: 0 0 0 3px white, 1px 0px 6px 4px rgba(10,10,0,.5);
}

p {
    text-align: left;
    margin: 15px;
}

ul {
    text-align: left;
    margin-top: -15px;
}
li {
    padding-bottom: 5px;
}