html {
	background: url('/img/rnb-index.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
	font-family: Average;
	text-shadow: 1px 1px 2px rgb(26,26,26);
}

body {

}

#header {
   margin: 0 auto;
/*
	margin-left: 0px; 
	font-size: 62px;
	text-align: center;
	margin-top: -90px;
*/
}

#feed {
   margin: 0 auto;
/*
	text-align: left;
	margin-top: 460px;
	margin-left: 150px;
	font-size: 50px;
*/
}

h1 {
	font-weight: 100;
	color: rgb(26, 26, 26);
}

p {
	/* padding-right: 50px; */
}

button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#63c1ff), to(#65a9d7));
   background: -webkit-linear-gradient(top, #63c1ff, #65a9d7);
   background: -moz-linear-gradient(top, #63c1ff, #65a9d7);
   background: -ms-linear-gradient(top, #63c1ff, #65a9d7);
   background: -o-linear-gradient(top, #63c1ff, #65a9d7);
   padding: 19.5px 39px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 24px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   margin-left: 50px;
   margin-top: -30px;
   }
button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }